<div class="span12">
  <center><h2>Pong waiting room, click below to wait in queue</h2></center>
</div>
<div class="span5">
  <h3>Chat</h3>
  <%= form_tag messages_path, :remote => true do %>
    <%= text_field_tag :message %>
    <%= submit_tag "Send" %>
  <% end %>
  <ul id="content">

  </ul>
</div>
<div class="span7">
  <%= link_to add_queues_path,:remote=>true do %>
    hello world what's up dude
  <% end -%>
</div>

<script>
  Pusher.log = function(msg) {
    if(console && console.log) {
      console.log(msg);
    }
  };

  var pusher = new Pusher("<%= Pusher.key %>");
  var socketId = null;
  pusher.connection.bind('connected', function() {
  });
  pusher.connection.bind('disconnected', function() {
    socketId = null;
  });
  var channel = pusher.subscribe('ldnrealtime');
  channel.bind('pusher:subscription_succeeded', function(data) {
    socketId = pusher.connection.socket_id;
  });
  channel.bind('message_received', function(data) {
    $("ul#content").prepend('<li>'+data.message+'</li>');
  });

</script>
