<div class="span12">
  <center><h2>Pong waiting room, click below to wait in queue</h2></center>
</div>
<div class="span6">
  <h3>Chat</h3>
  <%= form_tag messages_path, :remote => true do %>
    <%= text_field_tag :message %>
    <%= submit_tag "Send" %>
  <% end %>
  <div class="well" style="overflow:auto; height:200px;">
  <ul id="content" class="unstyled">
    <% @messages.each do |message| %>
      <li><a href='http://twitter.com/<%= message.owner %>'>@<%= message.owner %></a>: <%= message.content %></li>
    <% end -%>
  </ul>
  </div>
</div>
<div class="offset1 span4">
  <div id="add_to_queue">
    <div class="row">
      <%= link_to add_queues_path,:remote=>true do %>
        <%= image_tag "queue.jpg" %>
      <% end -%>
    </div>
    <div class="row">
      <%= link_to "Add to queue", add_queues_path,:remote=>true, :class => "btn" %>
    </div>
  </div>
  <div id="waiting" style="display: none;">
    <h3>Please wait until we find a partner for you.</h3>
  </div>
</div>

<script>
  <%# Pusher.log = function(msg) { %>
  <%#   if(console && console.log) { %>
  <%#     console.log(msg); %>
  <%#   } %>
  <%# }; %>

  var pusher = new Pusher("<%= Pusher.key %>");
  var socketId = null;
  pusher.connection.bind('connected', function() {
  });
  pusher.connection.bind('disconnected', function() {
    socketId = null;
  });
  var channel = pusher.subscribe('ldnrealtime');
  var priv_channel = pusher.subscribe('private-user-<%= current_user.id %>');

  priv_channel.bind('queue_match', function(data) {
    loc = "/matches/" + data.match_id;
    window.location.href = loc ;
  });

  channel.bind('pusher:subscription_succeeded', function(data) {
    socketId = pusher.connection.socket_id;
  });
  channel.bind('message_received', function(data) {
    $("ul#content").prepend('<li>'+data.message+'</li>');
  });

</script>
